.video-container {
  width: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}
.home {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}
.video-container-container {
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  .video-container-container {
    display: flex;
    justify-content: center;
  }
  .video-container {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
    column-gap: 16px;
    margin: 0;
  }
}
