.video {
  max-width: 600px;
  width: auto;
  padding: 5%;
  background-color: hsl(253, 13%, 13%);
  border-radius: 15px;
  margin-top: 5%;
}
a {
  text-decoration: none;
  color: #00000000;
}
.video-top-section {
  width: 100%;
}
.preview-img {
  width: 100%;
  border-radius: 8px;
}
.video-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.video-title {
  color: aliceblue;
  margin: 0;
}
.video-description {
  color: rgb(183, 190, 195);
  margin: 0;
}
.video-description-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}
.data-section {
  margin: 0;
  margin-left: 5%;
}
@media (min-width: 700px) {
  .video {
    padding: 5%;
    max-width: 400px;
    min-width: 200px;
  }
  .video-profile-pic {
    width: 50px;
    height: 50px;
  }
}
#video {
  max-width: 600px;
  padding: 5%;
  background-color: #1f1d26;
  border-radius: 15px;
  margin-top: 5%;
  aspect-ratio: 5/2;
}
#video-top-section {
  width: 100%;
}
#preview-img {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 5/3;
}
#video-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  aspect-ratio: 1/1;
}
#video-title {
  color: aliceblue;
  margin: 0;
}
#video-description {
  color: rgb(183, 190, 195);
  margin: 0;
}
#video-description-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}
#data-section {
  margin: 0;
  margin-left: 5%;
}
.smaller-title {
  font-size: medium;
}
.smaller-description {
  font-size: x-small;
}
#video-small {
  margin-left: 1rem;
  padding: 2.5%;
  min-width: 60%;
}
#preview-img-small {
  width: 50vw;
}
.video-profile-pic-small {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
@media (min-width: 700px) {
  #video {
    padding: 5%;
    max-width: 400px;
  }
  #video-profile-pic {
    width: 50px;
    height: 50px;
  }
  #preview-img {
    aspect-ratio: 5/3;
    width: 100%;
  }
}
