.controls-container {
  transition: ease-out 2000ms;
  position: absolute;
  display: flex;
  top: 40%;
  width: 50%;
  justify-content: space-around;
  opacity: 0;
}
.player {
  max-height: 80vh;
  aspect-ratio: 16/9;
}
#video-player::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}
#video-player::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
#video-player::--webkit-media-controls-play-button {
  display: none;
  -webkit-appearance: none;
}
.player-config {
  position: absolute;
}
.fullscreen {
  transform: rotate(90deg);
  width: 100%;
  height: 100vh;
}
.player-account-back {
  display: flex;
  flex-direction: row;
}
#video-player {
  z-index: -2;
  top: 0;
  height: fit-content;
  min-width: 100%;
  min-height: 100%;
}
.video-player {
  display: flex;
  justify-content: center;
  min-width: 50%;
  aspect-ratio: 16/9;
  position: relative;
  transition: ease-out 2000ms;
}

video {
  max-height: 56.25vw !important;
}

.video-player:hover {
  background-color: rgba(0, 0, 0, 0.254);
  transition: none;
}
.player-config {
  display: flex;
  width: 90%;
  margin-right: 5%;
  justify-content: flex-end;
  bottom: 0;
  right: 0;
  height: 125px;
  margin-bottom: 5%;
  align-items: flex-end;
}
.controls-icon {
  height: 100%;
  width: 100%;
}
.player-icon {
  margin-right: 2%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
@container player-account-front (max-width: 200px) {
  .player-title {
    font-size: 1rem;
  }
}
.play-icon-disabled {
  display: none;
}
.player-profile-picure {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.player-account-front {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  container-name: player-account-front;
  container-type: inline-size;
}
.player-title {
  color: aliceblue;
}
.player-account {
  display: flex;
  justify-content: space-between;
  margin: 5%;
  align-items: center;
}
.video-player:hover .controls-container {
  transition: none;
  opacity: 1;
  position: absolute;
  display: flex;
  top: 40%;
  width: 50%;
  justify-content: space-around;
}
.progress {
  display: flex;
  align-items: flex-start;
  align-self: center;
  width: 95%;
  height: 5px;
  background-color: rgba(68, 68, 68, 0.576);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 2%;
  margin-left: 2.5%;
}
.progress-bar {
  background-color: #ffffff6b;
  height: 100%;
  border-radius: 6px;
}
.player-account-front {
  justify-content: flex-start;
}
.player-title {
  margin-left: 10%;
}

@media (min-width: 700px) {
  .video-player {
    margin: 3%;
    max-width: 95%;
  }
  #video-player {
    border-radius: 15px;
  }
  .player-config {
    margin-right: 0;
  }
  .player-icon {
    width: 35px;
    height: 35px;
  }
  .player-title {
    margin-left: 5%;
  }
  .player-account-back {
    width: 15%;
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  .styled-slider {
    color: aliceblue;
    transform: rotate(270deg);
    color: transparent;
    right: 2.5%;
    bottom: 25%;
    width: 5%;
    transform: translateY();
  }
  .not-visible {
    opacity: 0;
  }
  .volume-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .space-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .input {
    opacity: 1;
  }
}

.input {
  width: 90%;
}
input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}
.input {
  display: block;
}
@media (max-width: 700px) {
  .input {
    display: none;
  }
  .space-container {
    display: flex;
  }
}
/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #bb7171;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #bb7171;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #bb7171;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #bb7171;
}

/*=============
Aesthetics 
=========================*/

body {
  font-family: system-ui;
}

h1 {
  color: #4b4949;
  text-align: center;
}

.wrapper {
  color: #4b4949;
  background: #bb7171;
  max-width: 400px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.range {
  display: flex;
  align-items: center;
  max-width: 500px;
  height: 4rem;
  width: 80%;
  background: #fff;
  padding: 0px 10px;
}
