.slider-button {
  z-index: 1;
  outline: none;
  background: none;
  color: aliceblue;
  border: none;
  transition: all 0.4s ease-in-out;
}
.slider-arrow {
  width: 40px;
  height: 40px;
  font-weight: bold;
}
.disabled {
  display: none;
}
.slider-trend {
  display: flex;
  align-content: center;
  margin-top: 5%;
  height: 40vh;
  width: 100%;
}
.image-slider {
  width: 90%;
  height: 100%;
  overflow: hidden;
  border-radius: 22px;
}
.left {
  margin-left: -80%;
}
.right {
  margin-right: -80%;
}
.slider-button:hover {
  transform: scale(1.4);
}
@media (max-width: 700px) {
  .slider-trend {
    display: none;
  }
}
